<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052342905363-gal0dimk9ftsi4ki34g68m9s14sksjut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052342905363-gal0dimk9ftsi4ki34g68m9s14sksjut</string>
	<key>API_KEY</key>
	<string>AIzaSyCJMbdqytdcW7lAGDxDpKoqDht-UzoaAOk</string>
	<key>GCM_SENDER_ID</key>
	<string>1052342905363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.engingulek.GLKRentCar</string>
	<key>PROJECT_ID</key>
	<string>glkrentcar</string>
	<key>STORAGE_BUCKET</key>
	<string>glkrentcar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052342905363:ios:45668c621c63675156ede6</string>
</dict>
</plist>